@import 'header';
@import 'cajas';
@import 'footer';

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #6c6c6c;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}