footer{
    .whatsapp{
        position: fixed;
        right: 17px;
        bottom: 20px;
        display: block;
    }
    img.what{
        max-width: 50px;
    }
}

.mail {
    padding: 20px;
    text-align: center;
    a{
        color: #fff !important;
    }
    
}